TELEGRAM_TOKEN=123ABC

GROQ_API_KEY=123ABC
GROQ_MODEL=deepseek-r1-distill-llama-70b
GROQ_AGENT_INSTRUCTION="summarize content with less than 50 words. Focus on key facts of the document. Answer in the exact same language of the document. Respond in JSON only."
GROQ_TEMPERATURE=0 

PERPLEXITY_API_KEY=123ABC
PERPLEXITY_MODEL=sonar
PERPLEXITY_AGENT_INSTRUCTION="Check if this text contains true or false claims. Respond with max 50 words falsifying or validating the claims. Do not add additional information. Stick to the actual facts only. Do not return more than 3 citations. Answer in the same language of the text."
PERPLEXITY_TEMPERATURE=0

ENABLE_LOGGING=true
ENABLE_TESTING=true
LIMIT_DOCUMENT=6000

ALLOW_CHAT_IDS=123456